@inherits LayoutComponentBase

<div>
    <header class="d-flex flex-wrap justify-content-center bg-dark py-3 border-bottom">
        <a href="/" class="d-flex align-items-center mb-2 mb-md-0 text-decoration-none">
            <img src="images/ricopollo.webp" style="width: 50px" />
        </a>
        <h3 class="px-3 text-white">RicoPollo Monitor</h3>
    </header>

    <main>
        <div class="container px-2 mt-5">
            @Body
        </div>
    </main>
</div>
